include src/desktop_groups/assets/json/desktopgroups.schema.json
include src/desktop_groups/assets/img/desktopgroups256px.ico
include src/desktop_groups/assets/lang/en.json
include src/desktop_groups/assets/lang/de.json
include src/desktop_groups/assets/lang/fr.json